input[type="file"] {
  appearance: none;
}

#file {
  display: none;
}

.file-label {
  width: 385px;
  height: 84px;
  margin: 56.5px auto;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #5982C0;
  color: #fff;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
}

@media screen and (max-width: 540px) {
  .file-label {
    width: 100%;
    margin-top: 44.38px;
    margin-bottom: 60.62px;
  }
}